@import "../../css-config//mixins.scss";

.infoContainer {
    display: flex;
    flex-direction: row;
    flex: 2 1 auto;
    margin-top: 20px;

    .rightContainer{
        flex-grow: 1;

        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            // background-color: red;

            .heading1{
                margin-left: 10px;
                font-size: 25px;
                font-weight: 700;

                @include md {
                    font-size: 20px;
                }

                @include sm{
                    font-size: 16px;
                }
            }

            .dropdownMenu{
                
                display: none;

                @include sm {
                    display: flex;
                    align-items: center;
                    
                }
            }

            .iconBlock{
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(211, 215, 215, 1);
                border-radius: 5px;
                .icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid rgba(211, 215, 215, 1);
                    padding-right: 5px;
                    margin: 5px 6px;
                    color: rgba(101, 115, 114, 1);
                    font-size: 1.2vw;
                    &:last-child{
                        border-right: none;
                    }
                }
                @include sm{
                    display: none;
                }
                
            }
        }

        .mainImage{
            margin-top: 20px;
            position: relative;

            img{
                height: 100%;
                width: 100%;
                border-radius: 10px;
                object-fit: cover;

                @include sm {
                    height: 300px;
                    width: 100%;
                }
            }

            .imageIcons{
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: center;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.7);
                margin-top: 20px;
                position: absolute;
                top: 5%;
                left: 35%;

                .icon {
                    border-right: 1px solid rgba(211, 215, 215, 1);
                    padding-right: 5px;
                    margin: 5px 6px;
                    color: #657372;

                    &:last-child{
                        border: none;
                    }
                }

                @include md {
                    left: 25%;
                }

                @include sm {
                    left: 5%;
                }
            }

            .centerContainer{
                position: absolute;
                top: 35%;
                left: 30%;
                height: 14vw;
                width: 30vw;
                background-color: rgba(255, 255, 255, 0.7);
                font-weight: 700;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                line-height: 5vw;

                .heading{
                    font-size: 5vw;
                    color: black;
                }

                .subHeading{
                    font-size: 1.2vw;
                    color: black;
                }

                
                
            }
        }

        .lastIcons{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-top: 20px;

            .messageIcon{
                padding-right: 10px;
                border-right: 1px solid rgba(211, 215, 215, 1);
            }

        }
    }
}