@import "../css-config/mixins.scss";

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .introContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        margin: 14px 0px;

        .heading {
            font-size: 35px;
            color: rgba(4, 67, 59, 1);
            font-weight: 800;

            @include md {
                font-size: 25px;
            }

            @include sm {
                font-size: 18px;
            }
        }

        .btn-primary {
            color: #fff;
            background-color: #00b686;
            height: 40px;
            width: 147px;
            border-radius: 5px;
            border: 0px;
            font-size: 16px;
            font-weight: 700;

            @include sm {
                height: 32px;
                width: 114px;
                font-size: 14px;
            }
        }
    }

    .subContainer {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;

        .imgContainer {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            width: 100%;
            position: relative;
            overflow: hidden;
            margin: 0;
            padding: 0;

            .main-img {
                position: relative;
                padding: 0;
                margin: 0;
                width: 100%;

                img {
                    width: 100%;
                    object-fit: fill;
                    display: block;
                    padding: 0;
                    margin: 0;
                    border-radius: 10px;


                }
            }

            .content {
                position: absolute;
                top: 0%;
                right: -25%;
                background-color: rgba(255, 255, 255, 0.7);
                font-weight: 900;
                width: 100%;
                height: 250%;
                transform: translateY(0%) rotate(-50deg);
                border-radius: 10px;
            }



            .heading {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                font-weight: 900;
                position: absolute;
                top: 25%;
                right: 15%;
                font-size: 2.5vw;
                line-height: 1.5vw;

                @include sm {
                    right: 10%;
                    font-size: 3vw;
                    line-height: 1.5vw;
                }
            }
        }

        .DownLeftTab {
            background-color: white;
            display: flex;
            flex-direction: row;
            align-items: center;
            // flex-wrap: nowrap;
            justify-content: space-around;
            position: absolute;
            bottom: -25%;
            width: 20%;
            height: 60%;
            border-radius: 10px;
            margin-left: 4%;

            @include md {
                border-radius: 7px;
            }

            @include sm {
                margin-left: 8%;
            }

            .logo {

                img {
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    padding: 0;
                    margin: 0;


                    @include sm {
                        height: 20px;
                        width: 20px;
                    }
                }
            }

            .icon {
                font-size: 25px;
                color: rgba(140, 140, 140, 1);
                padding: 0;
                margin: -7px;

                @include sm {
                    font-size: 10px;
                }

            }
        }

    }

    .project-scope-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

        // background-color: red;

        .heading {
            font-size: 25px;
            font-weight: 700;
            color: rgba(35, 55, 53, 1);

            @include md {
                font-size: 20px;
            }

            @include sm {
                font-size: 16px;
            }
        }

        .mutual-action-indicator {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100px;

            // background-color: green;

            .heading {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                align-items: center;
                margin-bottom: 3%;
                
                .subHeading {
                    font-size: 16px;
                    font-weight: 400;
                    margin-right: 50px;
                    color: rgba(123, 135, 134, 1);
                    @include md{
                        font-size: 14px;
                    }

                    @include md{
                        font-size: 10px;
                    }
                    
                }

                .percentFilled {
                    font-size: 18px;
                    font-weight: 800;
                    color: #00b686;

                    @include md{
                        font-size: 14px;
                    }

                    @include md{
                        font-size: 10px;
                    }
                }

            }
        }
    }
}